/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,600&family=Raleway:wght@300;400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --color-body: #fbe0e5;
  --color-container: #c496a5;
  --color-text: #2b1922;
  --color-text-sub: #a15050;
  --color-title: #601313;

  /*========== Font and typography ==========*/
  --family-title-font: 'Cormorant Garamond', serif;
  --family-body-font: 'Raleway', sans-serif;
  --size-font-small: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --size-normal-font: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --size-text-font: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --size-medium-font: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --size-sub-font: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --size-title-font: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --size-sizehero-font: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --z-fixed: 100;

  /*========== Font weight ==========*/

  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}

/* .darkmode {
  --first-color: #124f81;
  --first-color-alt: #124f81;
  --black-color: #f7fcfe;
  --title-color: #f7fcfe;
  --text-color: #f7fcfe;
  --body-color: #222831;
  --button-color: #b23c44;
} */

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--family-body-font);
  font-size: var(--size-normal-font);
  background-color: var(--color-body);
  color: var(--color-text);
}

h1,
h2,
h3 {
  color: var(--color-title);
  font-weight: var(--font-bold);
}

h1,
h2,
h3,
p {
  line-height: 140%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.btn {
  display: inline-flex;
  width: 150px;
  height: 57px;
  font-size: var(--size-normal-font);
  color: var(--color-text-sub);
  border: 1px solid var(--color-text-sub);
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
}

.btn span {
  font-size: var(--size-medium-font);
  margin-top: 4px;
  animation: arrow 1s infinite;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0 2rem;
}

.section-title,
.section-subtitle {
  font-family: var(--family-title-font);
  align-self: center;
}

.section-title {
  font-size: var(--size-title-font);
}
.section-subtitle {
  font-weight: var(--font-regular);
  color: var(--color-text-sub);
}

/* ================== HEADER & NAV =====================*/
.header {
  width: 100%;
  background-color: var(--color-body);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  /* height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo_img {
  width: 2rem;
  cursor: pointer;
}

.bottle {
  width: 1.8rem;
  cursor: pointer;
}

.toggle {
  font-size: 2rem;
  cursor: pointer;
}

.toggles-control {
  display: inline-flex;
  column-gap: 2rem;
}

.toggle-darkmode {
  display: inline-flex;
  align-items: center;
}

.toggle-darkmode span {
  font-family: var(--family-title-font);
  font-weight: var(--font-semibold);
  font-size: var(--size-text-font);
}

.nav-menu__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav-menu__link {
  text-transform: capitalize;
  font-family: var(--family-title-font);
  color: var(--color-text-sub);
  font-size: var(--size-text-font);
  font-weight: var(--font-semibold);
  transition: 0.4s;
}

.toggle-close {
  font-size: 2rem;
  color: var(--black-color);
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* ================== HOME =====================*/
.hero {
  position: relative;
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 0;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 1rem;
}

.hero-title {
  font-size: var(--size-sub-font);
  font-family: var(--family-title-font);
}

.hero-sub {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: end;
  background-color: var(--color-container);
}

.hero-social {
  margin-bottom: 1rem;
}

.hero-social h3 {
  font-family: var(--family-title-font);
  font-size: var(--size-medium-font);
  color: #fff;
}
.hero-social img {
  width: 35px;
}

.hero-social__img {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.hero-social__img img:hover {
  transform: scale(1.1);
}

.hero-sub__img {
  animation: arrow 3s infinite;
}

/* ================== ABOUT =====================*/
.about-container {
  display: flex;
  flex-direction: column;
}

.about-description {
  margin-top: -1rem;
  margin-left: 4rem;
  margin-bottom: 2.4rem;
}

.about-container p {
  color: var(--color-text);
  font-size: var(--size-normal-font);
  width: clamp(300px, 80%, 600px);
  align-self: center;
}

.about-container button {
  margin: 2rem;
  text-align: right;
}

/* ================== CATALOG =====================*/
.catalog-container {
  display: flex;
  flex-direction: column;
}

.catalog-description {
  margin-top: -0.6rem;
  margin-left: 6rem;
  margin-bottom: 2.4rem;
}

.products-list {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px 0;
}

/* .products-list::-webkit-scrollbar-track {

}  */

.products-list::-webkit-scrollbar {
  height: 5px;
}

.products-list::-webkit-scrollbar-thumb {
  background: var(--color-container);
  border-radius: 15px;
}

.products-list::-webkit-scrollbar-thumb:hover {
  background: var(--color-title);
  border-radius: 15px;
}

.products-list__item {
  font-size: var(--size-normal-font);
  color: var(--color-container);
  margin: 0 40%;
}

.itemactive {
  color: var(--color-title);
  font-weight: var(--font-bold);
}

.catalog-preview {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 3rem;
}

.catalog-preview__title {
  position: relative;
  display: inline-flex;
  align-self: center;
}

.catalog-preview__title h3 {
  font-weight: var(--font-semibold);
  font-size: var(--size-text-font);
}

.catalog-preview__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-products {
  max-width: 250px;
  align-self: center;
}

.catalog-preview__title img {
  position: absolute;
  top: 0;
  right: -4rem;
  width: 114px;
  height: 100px;
}

.catalog-preview__description img {
  padding: 3rem 0;
  filter: drop-shadow(8px 5px 5px hsla(0, 4%, 19%, 0.425));
  transition: 0.9s ease-in-out;
  align-self: center;
}

.catalog-preview__description img:hover {
  transform: scale(1.1);
}

.catalog-preview__info {
  max-width: 500px;
}

.catalog-preview__info p {
  margin: 1.2rem 0;
  font-size: var(--size-normal-font);
  color: var(--color-text);
}

.catalog-preview__info span {
  font-weight: var(--font-semibold);
}

/* ================== NEW FEATURES =====================*/
.features {
  background-image: url('../images/background-marbled.jpg');
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-available {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
  border: 1px solid var(--color-text-sub);
  padding: 1rem 0.2rem;
  max-width: 500px;
}

.features-title {
  font-family: var(--family-title-font);
  font-size: clamp(1.75rem, 1vw + 1.31rem, 2.11rem);
  font-style: italic;
  border-bottom: 5px solid #f5a818;
}

.features-description {
  text-align: center;
  color: var(--color-text);
}

.btn-features {
  width: 180px;
  color: var(--color-body);
  background: var(--color-text-sub);
  font-weight: var(--font-bold);
  font-size: var(--size-text-font);
}

.features-speciale {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  margin-top: 2rem;
}

.speciale-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
}

.rating {
  font-size: var(--size-text-font);
}

.speciale-rating img {
  width: 37px;
  height: 37px;
}

.note {
  font-weight: var(--font-bold);
  font-size: var(--size-normal-font);
}

.note span {
  font-size: clamp(2.25rem, 2.38vw + 1.85rem, 3.75rem);
}
.speciale-product {
  position: relative;
  align-self: center;
}
.speciale-product img:nth-child(odd) {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 70px;
  height: 98px;
}

.speciale-product img:nth-child(even) {
  filter: drop-shadow(8px 5px 5px hsla(0, 4%, 19%, 0.425));
}
/* ================== BLOG =====================*/

.blog-description {
  margin-top: -0.6rem;
  margin-left: 5.2rem;
  margin-bottom: 2.4rem;
}

.post-container {
  margin-top: 1rem;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotation {
  width: 47px;
  height: 30px;
  margin: 1.2rem 0;
}

.quotation:nth-child(n + 2) {
  transform: rotateY(180deg);
  align-self: flex-end;
}

.blog-profile {
  display: flex;
  column-gap: 1.2rem;
  padding: 0.3rem 0.5rem;
  width: 268px;
  height: 82px;
  border-radius: 115.5px;
  background: linear-gradient(
    90deg,
    #d9d9d9 0%,
    rgba(228, 186, 200, 0.61) 95.48%
  );
}

.blog-profile img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.blog-profile__info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.blog-profile__info span {
  font-size: var(--size-normal-font);
  font-weight: var(--font-semibold);
}

.blog-profile__info p {
  font-size: var(--size-font-small);
}

.blog-post__img {
  width: max(500px, 340px);
  height: 100%;
  border-radius: 5px;
  margin: 1rem 0;
}

.blog-post {
  display: flex;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  height: 60px;
  border-radius: 115.5px;
  background: linear-gradient(
    90deg,
    #d9d9d9 0%,
    rgba(228, 186, 200, 0.61) 95.48%
  );
}

.blog-post span {
  font-weight: var(--font-semibold);
  align-self: center;
}

/* ================== WHERE TO BUY =====================*/
.locale-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.locale-description {
  margin-top: -0.6rem;
  margin-left: 1rem;
}

.locale-info {
  margin-top: 2rem;
}

.locale-info p {
  color: var(--color-text);
  padding: 0.4rem 0;
  text-align: center;
}

.locale-info__socials {
  display: inline-flex;
}

.locale-social {
  cursor: pointer;
  margin: 2rem 0.6rem;
}

.locale-social svg {
  width: 34px;
  height: 37px;
}

.locale-social svg path {
  fill: var(--color-text-sub);
}
/* ================== FOOTER =====================*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-container);
  padding: 0.6rem 0 0.2rem 0;
}

.footer span {
  font-weight: var(--font-semibold);
  color: var(--color-text);
}

/* ================== BREAKPOINTS =====================*/

/* @media screen and (min-width: 576px) {
 
} */

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: var(--color-body);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
}

/* == MOBILE == */
.show-menu {
  right: 0;
}

@media screen and (min-width: 767px) {
  /* .section {
    padding: 7rem 0 2rem;
  } */
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .toggle-bar,
  .toggle-close {
    display: none;
  }
  .nav-menu__list {
    padding-top: 0;
    flex-direction: row;
    column-gap: 1.5rem;
  }
  .nav-menu__link {
    position: relative;
    font-size: var(--size-text-font);
  }
  .about-container button {
    margin: 2rem 8rem 0 0;
    text-align: right;
  }
  .hero-title {
    font-size: var(--size-sizehero-font);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home.section {
    height: 100vh;
    width: 100%;
    padding: 0;
  }

  .hero.container {
    max-width: none;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
    height: 100%;
    position: relative;
  }
  .hero-description {
    grid-row: 1/3;
    padding: 1rem 1rem;
  }

  .hero-description p {
    text-align: justify;
    max-width: 500px;
    margin-top: 10rem;
  }

  .hero-description p::before {
    content: '';
    position: absolute;
    margin-left: -12px;
    width: 1px;
    height: 205px;
    background-color: red;
  }

  .hero-description button {
    margin-left: 40%;
  }
  .hero-sub {
    grid-row: -3/-1;
    padding: 1rem 1rem;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-sub__img {
    width: clamp(200px, 50%, 300px);
    transform: translateX(1rem);
  }

  .hero-social {
    margin: 1rem 0 0 0;
  }

  .hero-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-48%, -50%);
    z-index: var(--z-fixed);
    text-wrap: nowrap;
    text-align: start;
  }
  .hero-title span {
    color: #fff;
  }
}
/* ================== ANIMATIONS =====================*/
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
